<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spokenlanguagelab.gamble_app_finalgit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="메인화면"></activity>
        <activity android:name=".GambleActivity" android:label="도박설명화면"></activity>
        <activity android:name=".GambleAddicationActivity" android:label="도박중독설명화면"></activity>
        <activity android:name=".SelfTestActivityAdult" android:label="자가진단(성인)"></activity>
        <activity android:name=".SelfTestActivityChild" android:label="자가진단(청소년)"></activity>
        <activity android:name=".CaseIntroductionActivity" android:label="사례소개"></activity>
        <activity android:name=".CenterGuideActivity" android:label="센터안내"></activity>
    </application>

</manifest>